In [1]:
#Import dependencies 
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

Extract the Data

In [2]:
#Read the Shark Tank data into a dataframe
sharktank_df = pd.read_csv('shark_tank_raw_data/Shark Tank US dataset.csv')
sharktank_df.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Season Start,Season End,Original Air Date,Industry,Business Description,Company Website,...,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present
0,1,AvaTheElephant,1,1,9-Aug-09,5-Feb-10,9-Aug-09,Health/Wellness,Ava The Elephant - Baby and Child Care,http://www.avatheelephant.com/,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
1,1,Mr.Tod'sPieFactory,1,2,9-Aug-09,5-Feb-10,9-Aug-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,http://whybake.com/,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
2,1,Wispots,1,3,9-Aug-09,5-Feb-10,9-Aug-09,Business Services,Wispots - Consumer Services,http://www.wispots.com/,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
3,1,CollegeFoxesPackingBoxes,1,4,9-Aug-09,5-Feb-10,9-Aug-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,http://collegehunkshaulingjunk.com/,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
4,1,IonicEar,1,5,9-Aug-09,5-Feb-10,9-Aug-09,Software/Tech,Ionic Ear - Novelties,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN

Perform initial data cleaning

In [3]:
sharktank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 53 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Season Number                       1345 non-null   int64
 1   Startup Name                        1345 non-null   object
 2   Episode Number                      1345 non-null   int64
 3   Pitch Number                        1345 non-null   int64
 4   Season Start                        1345 non-null   object
 5   Season End                          1274 non-null   object
 6   Original Air Date                   1345 non-null   object
 7   Industry                            1345 non-null   object
 8   Business Description                1345 non-null   object
 9   Company Website                     587 non-null    object
 10  Pitchers Gender                     1338 non-null   object
 11  Pitchers City                       526 non-null    object
 12  Pitchers State                      789 non-null    object
 13  Pitchers Average Age                409 non-null    object
 14  Entrepreneur Names                  850 non-null    object
 15  Multiple Entrepreneurs              918 non-null    float64
 16  US Viewership                       1341 non-null   float64
 17  Original Ask Amount                 1345 non-null   int64
 18  Original Offered Equity             1345 non-null   float64
 19  Valuation Requested                 1345 non-null   int64
 20  Got Deal                            1345 non-null   int64
 21  Total Deal Amount                   814 non-null    float64
 22  Total Deal Equity                   814 non-null    float64
 23  Deal Valuation                      814 non-null    float64
 24  Number of Sharks in Deal            814 non-null    float64
 25  Investment Amount Per Shark         814 non-null    float64
 26  Equity Per Shark                    814 non-null    float64
 27  Royalty Deal                        80 non-null     float64
 28  Advisory Shares Equity              1 non-null      float64
 29  Loan                                55 non-null     float64
 30  Deal Has Conditions                 1 non-null      object
 31  Barbara Corcoran Investment Amount  128 non-null    float64
 32  Barbara Corcoran Investment Equity  128 non-null    float64
 33  Mark Cuban Investment Amount        247 non-null    float64
 34  Mark Cuban Investment Equity        247 non-null    float64
 35  Lori Greiner Investment Amount      214 non-null    float64
 36  Lori Greiner Investment Equity      214 non-null    float64
 37  Robert Herjavec Investment Amount   126 non-null    float64
 38  Robert Herjavec Investment Equity   126 non-null    float64
 39  Daymond John Investment Amount      117 non-null    float64
 40  Daymond John Investment Equity      117 non-null    float64
 41  Kevin O Leary Investment Amount     125 non-null    float64
 42  Kevin O Leary Investment Equity     125 non-null    float64
 43  Guest Investment Amount             116 non-null    float64
 44  Guest Investment Equity             116 non-null    float64
 45  Guest Name                          116 non-null    object
 46  Barbara Corcoran Present            934 non-null    float64
 47  Mark Cuban Present                  972 non-null    float64
 48  Lori Greiner Present                972 non-null    float64
 49  Robert Herjavec Present             928 non-null    float64
 50  Daymond John Present                934 non-null    float64
 51  Kevin O Leary Present               969 non-null    float64
 52  Guest Present                       39 non-null     float64
dtypes: float64(33), int64(6), object(14)
memory usage: 557.0+ KB

In [4]:
sharktank_df.columns

Index(['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Season Start', 'Season End', 'Original Air Date', 'Industry',
       'Business Description', 'Company Website', 'Pitchers Gender',
       'Pitchers City', 'Pitchers State', 'Pitchers Average Age',
       'Entrepreneur Names', 'Multiple Entrepreneurs', 'US Viewership',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Got Deal', 'Total Deal Amount', 'Total Deal Equity', 'Deal Valuation',
       'Number of Sharks in Deal', 'Investment Amount Per Shark',
       'Equity Per Shark', 'Royalty Deal', 'Advisory Shares Equity', 'Loan',
       'Deal Has Conditions', 'Barbara Corcoran Investment Amount',
       'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount',
       'Mark Cuban Investment Equity', 'Lori Greiner Investment Amount',
       'Lori Greiner Investment Equity', 'Robert Herjavec Investment Amount',
       'Robert Herjavec Investment Equity', 'Daymond John Investment Amount',
       'Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
       'Kevin O Leary Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Name', 'Barbara Corcoran Present',
       'Mark Cuban Present', 'Lori Greiner Present', 'Robert Herjavec Present',
       'Daymond John Present', 'Kevin O Leary Present', 'Guest Present'],
      dtype='object')

In [5]:
#remove unneccesary columns
sharktank_df_clean = sharktank_df[['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Original Air Date', 'Industry',
       'Business Description', 'Company Website', 'Pitchers Gender',
       'Pitchers City', 'Pitchers State', 'Entrepreneur Names', 'Multiple Entrepreneurs',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Got Deal', 'Total Deal Amount', 'Total Deal Equity', 'Deal Valuation',
       'Number of Sharks in Deal', 'Investment Amount Per Shark',
       'Equity Per Shark', 'Barbara Corcoran Investment Amount',
       'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount',
       'Mark Cuban Investment Equity', 'Lori Greiner Investment Amount',
       'Lori Greiner Investment Equity', 'Robert Herjavec Investment Amount',
       'Robert Herjavec Investment Equity', 'Daymond John Investment Amount',
       'Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
       'Kevin O Leary Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Name', 'Barbara Corcoran Present',
       'Mark Cuban Present', 'Lori Greiner Present', 'Robert Herjavec Present',
       'Daymond John Present', 'Kevin O Leary Present', 'Guest Present']]

sharktank_df_clean.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Original Air Date,Industry,Business Description,Company Website,Pitchers Gender,Pitchers City,...,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present
0,1,AvaTheElephant,1,1,9-Aug-09,Health/Wellness,Ava The Elephant - Baby and Child Care,http://www.avatheelephant.com/,Female,Atlanta,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
1,1,Mr.Tod'sPieFactory,1,2,9-Aug-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,http://whybake.com/,Male,Somerset,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
2,1,Wispots,1,3,9-Aug-09,Business Services,Wispots - Consumer Services,http://www.wispots.com/,Male,Cary,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
3,1,CollegeFoxesPackingBoxes,1,4,9-Aug-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,http://collegehunkshaulingjunk.com/,Male,Tampa,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
4,1,IonicEar,1,5,9-Aug-09,Software/Tech,Ionic Ear - Novelties,NaN,Male,St. Paul,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN

In [6]:
#transform dates to dt format
sharktank_df_clean['Original Air Date'] = pd.to_datetime(sharktank_df_clean['Original Air Date'], format='%d-%b-%y')

C:\Users\Amy\AppData\Local\Temp\ipykernel_27236\4047264318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharktank_df_clean['Original Air Date'] = pd.to_datetime(sharktank_df_clean['Original Air Date'], format='%d-%b-%y')

In [7]:
#check that dates converted correctly
sharktank_df_clean.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Original Air Date,Industry,Business Description,Company Website,Pitchers Gender,Pitchers City,...,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present
0,1,AvaTheElephant,1,1,2009-08-09,Health/Wellness,Ava The Elephant - Baby and Child Care,http://www.avatheelephant.com/,Female,Atlanta,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
1,1,Mr.Tod'sPieFactory,1,2,2009-08-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,http://whybake.com/,Male,Somerset,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
2,1,Wispots,1,3,2009-08-09,Business Services,Wispots - Consumer Services,http://www.wispots.com/,Male,Cary,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
3,1,CollegeFoxesPackingBoxes,1,4,2009-08-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,http://collegehunkshaulingjunk.com/,Male,Tampa,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
4,1,IonicEar,1,5,2009-08-09,Software/Tech,Ionic Ear - Novelties,NaN,Male,St. Paul,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN

In [8]:
#transform 1 and 0 values to boolean
sharktank_df_clean[['Got Deal', 
                    'Barbara Corcoran Present', 
                    'Mark Cuban Present', 
                    'Lori Greiner Present', 
                    'Robert Herjavec Present', 
                    'Daymond John Present',
                    'Kevin O Leary Present', 
                    'Guest Present']] = sharktank_df_clean[['Got Deal',
                                                            'Barbara Corcoran Present', 
                                                            'Mark Cuban Present', 
                                                            'Lori Greiner Present', 
                                                            'Robert Herjavec Present', 
                                                            'Daymond John Present', 
                                                            'Kevin O Leary Present', 
                                                            'Guest Present']].astype('bool')

C:\Users\Amy\AppData\Local\Temp\ipykernel_27236\2276879653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharktank_df_clean[['Got Deal',

In [9]:
#check that values converted to boolean correctly
sharktank_df_clean.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Original Air Date,Industry,Business Description,Company Website,Pitchers Gender,Pitchers City,...,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present
0,1,AvaTheElephant,1,1,2009-08-09,Health/Wellness,Ava The Elephant - Baby and Child Care,http://www.avatheelephant.com/,Female,Atlanta,...,NaN,NaN,NaN,True,False,False,True,True,True,True
1,1,Mr.Tod'sPieFactory,1,2,2009-08-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,http://whybake.com/,Male,Somerset,...,NaN,NaN,NaN,True,False,False,True,True,True,True
2,1,Wispots,1,3,2009-08-09,Business Services,Wispots - Consumer Services,http://www.wispots.com/,Male,Cary,...,NaN,NaN,NaN,True,False,False,True,True,True,True
3,1,CollegeFoxesPackingBoxes,1,4,2009-08-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,http://collegehunkshaulingjunk.com/,Male,Tampa,...,NaN,NaN,NaN,True,False,False,True,True,True,True
4,1,IonicEar,1,5,2009-08-09,Software/Tech,Ionic Ear - Novelties,NaN,Male,St. Paul,...,NaN,NaN,NaN,True,False,False,True,True,True,True

Pitchers Demographics Table Cleaning (Anna)

In [10]:
#Create the pitcher demographics table from the cleaned sharktank df
#Reorder the column names
pitcher_demo_df = sharktank_df_clean[["Pitch Number",
                                    "Multiple Entrepreneurs", 
                                    "Entrepreneur Names",
                                    "Pitchers Gender",
                                    "Pitchers City",
                                    "Pitchers State",
                                    "Industry"]]

pitcher_demo_df.head()

,Pitch Number,Multiple Entrepreneurs,Entrepreneur Names,Pitchers Gender,Pitchers City,Pitchers State,Industry
0,1,0.0,Tiffany Krumins,Female,Atlanta,GA,Health/Wellness
1,2,0.0,Tod Wilson,Male,Somerset,NJ,Food and Beverage
2,3,0.0,Kevin Flannery,Male,Cary,NC,Business Services
3,4,0.0,"Nick Friedman, Omar Soliman",Male,Tampa,FL,Lifestyle/Home
4,5,0.0,Darrin Johnson,Male,St. Paul,MN,Software/Tech

In [11]:
#change the multiple entrepreneurs column to boolean
pitcher_demo_df["Multiple Entrepreneurs"] = pitcher_demo_df["Multiple Entrepreneurs"].astype('bool')

pitcher_demo_df.head()

C:\Users\Amy\AppData\Local\Temp\ipykernel_27236\797673800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pitcher_demo_df["Multiple Entrepreneurs"] = pitcher_demo_df["Multiple Entrepreneurs"].astype('bool')

,Pitch Number,Multiple Entrepreneurs,Entrepreneur Names,Pitchers Gender,Pitchers City,Pitchers State,Industry
0,1,False,Tiffany Krumins,Female,Atlanta,GA,Health/Wellness
1,2,False,Tod Wilson,Male,Somerset,NJ,Food and Beverage
2,3,False,Kevin Flannery,Male,Cary,NC,Business Services
3,4,False,"Nick Friedman, Omar Soliman",Male,Tampa,FL,Lifestyle/Home
4,5,False,Darrin Johnson,Male,St. Paul,MN,Software/Tech

In [12]:
# replace any null values in the Entrepreneur Names, Gender, City, State Columns to "unknown"
# sources: https://stackoverflow.com/questions/34913590/fillna-in-multiple-columns-in-place-in-python-pandas

replace_na_strings = pitcher_demo_df.select_dtypes(object).columns
pitcher_demo_df[replace_na_strings] = pitcher_demo_df[replace_na_strings].fillna("Unknown")

C:\Users\Amy\AppData\Local\Temp\ipykernel_27236\1425238868.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pitcher_demo_df[replace_na_strings] = pitcher_demo_df[replace_na_strings].fillna("Unknown")

In [13]:
# Create a "Entrepreneur 1 Name" and "Entrepreneur 2 Name" column with the first and last names from the "name" column. 
# Only split columns which have a comma, or an "and" to signify multiple pitchers
# Code was generated with assistance from Bootcamp Spot Xpert Learning Assistant

for index, row in pitcher_demo_df.iterrows():
    if "," in row["Entrepreneur Names"]:
         names = row['Entrepreneur Names'].split(',')
         pitcher_demo_df.at[index, 'Entrepreneur_1_Name'] = names[0]
         pitcher_demo_df.at[index, 'Entrepreneur_2_Name'] = names[1] if len(names) > 1 else None

    elif "and" in row["Entrepreneur Names"]:
         names = row['Entrepreneur Names'].split('and ')
         pitcher_demo_df.at[index, 'Entrepreneur_1_Name'] = names[0]
         pitcher_demo_df.at[index, 'Entrepreneur_2_Name'] = names[1] if len(names) > 1 else None

    else: pitcher_demo_df.at[index, 'Entrepreneur_1_Name'] = pitcher_demo_df.at[index, 'Entrepreneur Names']


pitcher_demo_df.head()

C:\Users\Amy\AppData\Local\Temp\ipykernel_27236\1329337005.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: pitcher_demo_df.at[index, 'Entrepreneur 1 Name'] = pitcher_demo_df.at[index, 'Entrepreneur Names']
C:\Users\Amy\AppData\Local\Temp\ipykernel_27236\1329337005.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pitcher_demo_df.at[index, 'Entrepreneur 2 Name'] = names[1] if len(names) > 1 else None

,Pitch Number,Multiple Entrepreneurs,Entrepreneur Names,Pitchers Gender,Pitchers City,Pitchers State,Industry,Entrepreneur 1 Name,Entrepreneur 2 Name
0,1,False,Tiffany Krumins,Female,Atlanta,GA,Health/Wellness,Tiffany Krumins,NaN
1,2,False,Tod Wilson,Male,Somerset,NJ,Food and Beverage,Tod Wilson,NaN
2,3,False,Kevin Flannery,Male,Cary,NC,Business Services,Kevin Flannery,NaN
3,4,False,"Nick Friedman, Omar Soliman",Male,Tampa,FL,Lifestyle/Home,Nick Friedman,Omar Soliman
4,5,False,Darrin Johnson,Male,St. Paul,MN,Software/Tech,Darrin Johnson,NaN

In [14]:
#fix any instances where multiple enterpreneurs column is incorrectly classified
#Source: https://www.programiz.com/python-programming/pandas/handle-wrong-data

for row in pitcher_demo_df.index:
    multiple_check = pitcher_demo_df.loc[row, "Entrepreneur_2_Name"]
    if pd.isnull(multiple_check):
        pitcher_demo_df.loc[row, "Multiple Entrepreneurs"] = False
    else: 
        pitcher_demo_df.loc[row, "Multiple Entrepreneurs"] = True

pitcher_demo_df.head()

,Pitch Number,Multiple Entrepreneurs,Entrepreneur Names,Pitchers Gender,Pitchers City,Pitchers State,Industry,Entrepreneur 1 Name,Entrepreneur 2 Name
0,1,False,Tiffany Krumins,Female,Atlanta,GA,Health/Wellness,Tiffany Krumins,NaN
1,2,False,Tod Wilson,Male,Somerset,NJ,Food and Beverage,Tod Wilson,NaN
2,3,False,Kevin Flannery,Male,Cary,NC,Business Services,Kevin Flannery,NaN
3,4,True,"Nick Friedman, Omar Soliman",Male,Tampa,FL,Lifestyle/Home,Nick Friedman,Omar Soliman
4,5,False,Darrin Johnson,Male,St. Paul,MN,Software/Tech,Darrin Johnson,NaN

In [15]:
#reorder columns
pitcher_demo_df_cleaned = pitcher_demo_df[["Pitch Number", 
                                   "Multiple Entrepreneurs", 
                                   "Entrepreneur_1_Name",
                                   "Entrepreneur_2_Name",
                                    "Pitchers Gender",
                                    "Pitchers City",
                                    "Pitchers State",
                                    "Industry"]]

#rename columns to simplify
pitcher_demo_df_cleaned.rename(columns= {"Pitch Number":"Pitch_Number",
                                         "Multiple Entrepreneurs": "Multiple_Entrepreneurs",
                                         "Pitchers Gender":"Gender",
                                         "Pitchers City": "City",
                                         "Pitchers State": "State"}, inplace =True)

pitcher_demo_df_cleaned.head()

C:\Users\Amy\AppData\Local\Temp\ipykernel_27236\2763712449.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pitcher_demo_df_cleaned.rename(columns= {"Pitchers Gender":"Gender(s)",

,Pitch Number,Multiple Entrepreneurs,Entrepreneur 1 Name,Entrepreneur 2 Name,Gender(s),City,State,Industry
0,1,False,Tiffany Krumins,NaN,Female,Atlanta,GA,Health/Wellness
1,2,False,Tod Wilson,NaN,Male,Somerset,NJ,Food and Beverage
2,3,False,Kevin Flannery,NaN,Male,Cary,NC,Business Services
3,4,True,Nick Friedman,Omar Soliman,Male,Tampa,FL,Lifestyle/Home
4,5,False,Darrin Johnson,NaN,Male,St. Paul,MN,Software/Tech

In [16]:
#Check datatypes and null counts one last time before exporting to CSV
#Only Entrepreneur 2 Name should still have null values

pitcher_demo_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Pitch Number            1345 non-null   int64
 1   Multiple Entrepreneurs  1345 non-null   bool
 2   Entrepreneur 1 Name     1345 non-null   object
 3   Entrepreneur 2 Name     409 non-null    object
 4   Gender(s)               1345 non-null   object
 5   City                    1345 non-null   object
 6   State                   1345 non-null   object
 7   Industry                1345 non-null   object
dtypes: bool(1), int64(1), object(6)
memory usage: 75.0+ KB

In [17]:
pitcher_demo_df_cleaned.to_csv("pitch_demo.csv", encoding = 'utf8', index=False)

Pitchers Demographics Table (Data cleaning by Anna Bitzer)

A subset of columns from the sharktank_df_clean dataset were used to create a Pitchers Demographics table. Several data cleaning steps were taken to transform and prepare the data for storage in a SQL database.
 -  The "Multiple Entrepreneurs" column datatype was switched to boolean.
 -  Null values in all string columns (name, gender, city, state, industry) were replaced with "Unknown.
 -  The "Entrepreneur Names" column, which could contain multiple entrepreneurs, was split into new columns "Entrepreneur 1 Name" and "Entrepreneur 2 Name", splitting at a comma or the word "and". 
 -  Some instances of the "Multiple Entrepreneurs" column were found to be incorrect. They were corrected using a conditional that checked if a second entrepreneur was present in the "Entrepreneur 2 Name" column.
 -  Finally, the columns were reorderd and some were renamed.

The final dataframe was exported to csv, for upload into a SQL database with the other tables.

Sources Used: 
https://stackoverflow.com/questions/34913590/fillna-in-multiple-columns-in-place-in-python-pandas, https://www.programiz.com/python-programming/pandas/handle-wrong-data, and BootcampSpot Xpert Learning Assistant for formatting itterows code to split names.

Shark Demogrpahics Table Cleaning (Atul)

Pitch Info Table Cleaning (Tianyue)

In [ ]:
sharktank_df_clean.info()

In [ ]:
# Creating a dataframe for Deal Info:
deal_df = sharktank_df_clean[[ 'Pitch Number','Total Deal Amount','Total Deal Equity','Original Offered Equity','Valuation Requested', 'Deal Valuation','Investment Amount Per Shark', 'Equity Per Shark','Number of Sharks in Deal', 'Barbara Corcoran Investment Amount',
                    'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount','Mark Cuban Investment Equity', 'Lori Greiner Investment Amount','Lori Greiner Investment Equity', 
                    'Robert Herjavec Investment Amount', 'Robert Herjavec Investment Equity','Daymond John Investment Amount','Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
                    'Kevin O Leary Investment Equity', 'Guest Investment Amount', 'Guest Investment Equity']]
 

deal_df.columns = deal_df.columns.str.replace(' ', '_')
# deal_df['Deal_Amout_Dif'] = deal_df['']
# deal_df['Deal_Equity_Dif']
deal_df.head()
# May add sharks' ID if unique key available in shark_df

# Narrow down on columns

In [ ]:
# deal_df.to_csv("deal_df.csv", index=False)
# don't run again

In [ ]:
deal_df.count()

In [ ]:
deal_df.dropna().count()

In [ ]:
deal_df1 = deal_df[~deal_df.Total_Deal_Amount.isnull()].set_index('Pitch_Number')
deal_df1.count()

In [ ]:
deal_df1.Barbara_Corcoran_Investment_Amount.dropna().sort_values(ascending=False)[:10].plot.bar(figsize=[16,4],rot=90)

In [ ]:
#Creating a dataframe for Pitch Info: 
pitch_df= sharktank_df_clean[['Pitch Number', 'Episode Number', 'Season Number','Business Description', 'Got Deal']]
pitch_df.columns = pitch_df.columns.str.replace(' ', '_')
pitch_df.head()

In [ ]:
# pitch_df.to_csv("pitch_df.csv", index=False)
# don't run again