In [1]:
#Import dependencies 
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

Extract the Data

In [2]:
#Read the Shark Tank data into a dataframe
sharktank_df = pd.read_csv('shark_tank_raw_data/Shark Tank US dataset.csv')
sharktank_df.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Season Start,Season End,Original Air Date,Industry,Business Description,Company Website,...,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present
0,1,AvaTheElephant,1,1,9-Aug-09,5-Feb-10,9-Aug-09,Health/Wellness,Ava The Elephant - Baby and Child Care,http://www.avatheelephant.com/,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
1,1,Mr.Tod'sPieFactory,1,2,9-Aug-09,5-Feb-10,9-Aug-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,http://whybake.com/,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
2,1,Wispots,1,3,9-Aug-09,5-Feb-10,9-Aug-09,Business Services,Wispots - Consumer Services,http://www.wispots.com/,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
3,1,CollegeFoxesPackingBoxes,1,4,9-Aug-09,5-Feb-10,9-Aug-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,http://collegehunkshaulingjunk.com/,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
4,1,IonicEar,1,5,9-Aug-09,5-Feb-10,9-Aug-09,Software/Tech,Ionic Ear - Novelties,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN

In [3]:
sharktank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 53 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Season Number                       1345 non-null   int64
 1   Startup Name                        1345 non-null   object
 2   Episode Number                      1345 non-null   int64
 3   Pitch Number                        1345 non-null   int64
 4   Season Start                        1345 non-null   object
 5   Season End                          1274 non-null   object
 6   Original Air Date                   1345 non-null   object
 7   Industry                            1345 non-null   object
 8   Business Description                1345 non-null   object
 9   Company Website                     587 non-null    object
 10  Pitchers Gender                     1338 non-null   object
 11  Pitchers City                       526 non-null    object
 12  Pitchers State                      789 non-null    object
 13  Pitchers Average Age                409 non-null    object
 14  Entrepreneur Names                  850 non-null    object
 15  Multiple Entrepreneurs              918 non-null    float64
 16  US Viewership                       1341 non-null   float64
 17  Original Ask Amount                 1345 non-null   int64
 18  Original Offered Equity             1345 non-null   float64
 19  Valuation Requested                 1345 non-null   int64
 20  Got Deal                            1345 non-null   int64
 21  Total Deal Amount                   814 non-null    float64
 22  Total Deal Equity                   814 non-null    float64
 23  Deal Valuation                      814 non-null    float64
 24  Number of Sharks in Deal            814 non-null    float64
 25  Investment Amount Per Shark         814 non-null    float64
 26  Equity Per Shark                    814 non-null    float64
 27  Royalty Deal                        80 non-null     float64
 28  Advisory Shares Equity              1 non-null      float64
 29  Loan                                55 non-null     float64
 30  Deal Has Conditions                 1 non-null      object
 31  Barbara Corcoran Investment Amount  128 non-null    float64
 32  Barbara Corcoran Investment Equity  128 non-null    float64
 33  Mark Cuban Investment Amount        247 non-null    float64
 34  Mark Cuban Investment Equity        247 non-null    float64
 35  Lori Greiner Investment Amount      214 non-null    float64
 36  Lori Greiner Investment Equity      214 non-null    float64
 37  Robert Herjavec Investment Amount   126 non-null    float64
 38  Robert Herjavec Investment Equity   126 non-null    float64
 39  Daymond John Investment Amount      117 non-null    float64
 40  Daymond John Investment Equity      117 non-null    float64
 41  Kevin O Leary Investment Amount     125 non-null    float64
 42  Kevin O Leary Investment Equity     125 non-null    float64
 43  Guest Investment Amount             116 non-null    float64
 44  Guest Investment Equity             116 non-null    float64
 45  Guest Name                          116 non-null    object
 46  Barbara Corcoran Present            934 non-null    float64
 47  Mark Cuban Present                  972 non-null    float64
 48  Lori Greiner Present                972 non-null    float64
 49  Robert Herjavec Present             928 non-null    float64
 50  Daymond John Present                934 non-null    float64
 51  Kevin O Leary Present               969 non-null    float64
 52  Guest Present                       39 non-null     float64
dtypes: float64(33), int64(6), object(14)
memory usage: 557.0+ KB

In [4]:
sharktank_df.columns

Index(['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Season Start', 'Season End', 'Original Air Date', 'Industry',
       'Business Description', 'Company Website', 'Pitchers Gender',
       'Pitchers City', 'Pitchers State', 'Pitchers Average Age',
       'Entrepreneur Names', 'Multiple Entrepreneurs', 'US Viewership',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Got Deal', 'Total Deal Amount', 'Total Deal Equity', 'Deal Valuation',
       'Number of Sharks in Deal', 'Investment Amount Per Shark',
       'Equity Per Shark', 'Royalty Deal', 'Advisory Shares Equity', 'Loan',
       'Deal Has Conditions', 'Barbara Corcoran Investment Amount',
       'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount',
       'Mark Cuban Investment Equity', 'Lori Greiner Investment Amount',
       'Lori Greiner Investment Equity', 'Robert Herjavec Investment Amount',
       'Robert Herjavec Investment Equity', 'Daymond John Investment Amount',
       'Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
       'Kevin O Leary Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Name', 'Barbara Corcoran Present',
       'Mark Cuban Present', 'Lori Greiner Present', 'Robert Herjavec Present',
       'Daymond John Present', 'Kevin O Leary Present', 'Guest Present'],
      dtype='object')

In [5]:
#remove unneccesary columns
sharktank_df_clean = sharktank_df[['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Original Air Date', 'Industry',
       'Business Description', 'Company Website', 'Pitchers Gender',
       'Pitchers City', 'Pitchers State', 'Entrepreneur Names', 'Multiple Entrepreneurs',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Got Deal', 'Total Deal Amount', 'Total Deal Equity', 'Deal Valuation',
       'Number of Sharks in Deal', 'Investment Amount Per Shark',
       'Equity Per Shark', 'Barbara Corcoran Investment Amount',
       'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount',
       'Mark Cuban Investment Equity', 'Lori Greiner Investment Amount',
       'Lori Greiner Investment Equity', 'Robert Herjavec Investment Amount',
       'Robert Herjavec Investment Equity', 'Daymond John Investment Amount',
       'Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
       'Kevin O Leary Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Name', 'Barbara Corcoran Present',
       'Mark Cuban Present', 'Lori Greiner Present', 'Robert Herjavec Present',
       'Daymond John Present', 'Kevin O Leary Present', 'Guest Present']]

sharktank_df_clean.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Original Air Date,Industry,Business Description,Company Website,Pitchers Gender,Pitchers City,...,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present
0,1,AvaTheElephant,1,1,9-Aug-09,Health/Wellness,Ava The Elephant - Baby and Child Care,http://www.avatheelephant.com/,Female,Atlanta,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
1,1,Mr.Tod'sPieFactory,1,2,9-Aug-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,http://whybake.com/,Male,Somerset,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
2,1,Wispots,1,3,9-Aug-09,Business Services,Wispots - Consumer Services,http://www.wispots.com/,Male,Cary,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
3,1,CollegeFoxesPackingBoxes,1,4,9-Aug-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,http://collegehunkshaulingjunk.com/,Male,Tampa,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
4,1,IonicEar,1,5,9-Aug-09,Software/Tech,Ionic Ear - Novelties,NaN,Male,St. Paul,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN

In [7]:
#transform dates to dt format

sharktank_df_clean['Original Air Date'] = pd.to_datetime(sharktank_df_clean['Original Air Date'], format= '%d-%b-%y')
sharktank_df_clean.head()

C:\Users\Amy\AppData\Local\Temp\ipykernel_22712\2232015.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharktank_df_clean['Original Air Date'] = pd.to_datetime(sharktank_df_clean['Original Air Date'], format= '%d-%b-%y')

,Season Number,Startup Name,Episode Number,Pitch Number,Original Air Date,Industry,Business Description,Company Website,Pitchers Gender,Pitchers City,...,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present
0,1,AvaTheElephant,1,1,2009-08-09,Health/Wellness,Ava The Elephant - Baby and Child Care,http://www.avatheelephant.com/,Female,Atlanta,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
1,1,Mr.Tod'sPieFactory,1,2,2009-08-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,http://whybake.com/,Male,Somerset,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
2,1,Wispots,1,3,2009-08-09,Business Services,Wispots - Consumer Services,http://www.wispots.com/,Male,Cary,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
3,1,CollegeFoxesPackingBoxes,1,4,2009-08-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,http://collegehunkshaulingjunk.com/,Male,Tampa,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN
4,1,IonicEar,1,5,2009-08-09,Software/Tech,Ionic Ear - Novelties,NaN,Male,St. Paul,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0,NaN

In [ ]:
#handle null values

In [ ]:
#transform 1 and 0 values to boolean